[Globals]
ini_version=1
bitmap_cache=yes
bitmap_compression=yes
port={{ xrdp_port }}
crypt_level={{ xrdp_crypt_level }}
channel_code=1
max_bpp={{ xrdp_max_bpp }}
ssl_protocols=TLSv1.2, TLSv1.3
ssl_ciphers=HIGH

[xrdp1]
name=sesman-Xvnc
lib=libvnc.so
username=ask
password=ask
ip=127.0.0.1
port=-1

[xrdp2]
name=console
lib=libvnc.so
ip=127.0.0.1
port=5900
username=na
password=ask

[xrdp3]
name=vnc-any
lib=libvnc.so
ip=ask
port=ask5900
username=ask
password=ask

[xrdp4]
name=sesman-any
lib=libvnc.so
ip=ask
port=-1
username=ask
password=ask

[xrdp5]
name=rdp-any
lib=librdp.so
ip=ask
port=3389

[xrdp6]
name=freerdp-any
lib=libxrdpfreerdp1.so
ip=ask
port=3389
username=ask
password=ask

[xrdp7]
name=neutrinordp-any
lib=libxrdpneutrinordp.so
ip=ask
port=3389
username=ask
password=ask